.wrapper {
    width: 1000px;
    height: 600px;
    background: cornflowerblue;
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;

}

#container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.header {
    width: 1000px;
    height: 100px;
    background: orangered;
}

.menu {
    width: 200px;
    height: 400px;
    background: black;
}

.footer {
    width: 1000px;
    height: 100px;
    background: orange;
}

.post_gai_1 {
    display: flex;
    flex: 1;
    background: blueviolet;

}

.post_gai_2 {
    flex: 2;
    background: fuchsia;

}