
.father {
    background: cornflowerblue;
}

.header {
    width: 1800px;
    height: 200px;
    background: blue;


}

.menu {
    width: 200px;
    height: 800px;
    background: #9500ff;


}

.psw_1 {
    width: 1200px;
    height: 400px;
    background: #fff200;

}
.psw {
    width: 1200px;
    height: 400px;
    background: #82a52a;

}

.footer {
    width: 1800px;
    height: 200px;
    background: #2029da;
}
.obernuv {
    display: flex;
    width: 80%;
    height: 80%;
    padding-top: 50px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
;



}

