
.father {
    background: black;
}

.header {
    width: 1800px;
    height: 200px;
    background: gold;


}

.menu {
    width: 200px;
    height: 600px;
    background: aqua;


}

.post_1 {
    width: 600px;
    height: 400px;
    background: blue;

}
.post {
    width: 600px;
    height: 400px;
    background: brown;

}

.footer {
    width: 1800px;
    height: 200px;
    background: goldenrod;
}
.obernuv {
   display: flex;
   width: 80%;
   height: 80%;
   padding-top: 50px;
    flex-direction: column;
    flex-wrap: wrap;
   align-items: start;
;



}
    /*display: flex;*/
    /*justify-content: flex-end;*/
    /*align-items: flex-end;*/
    /*!*flex-direction: unset;*!*/
